<h1 id="detail-title">Detail</h1>

{{!-- xxxxx{{coordsLat}}xxxxx
xxxxx{{coordsLng}}xxxxx --}}

<div id="detail-container">

<p class="detail-paragraph">Name: {{task.name}}</p>
<p class="detail-paragraph">Description: {{task.description}}</p>
<p><a href="/tasks/location/{{task.location._id}}/{{task._id}}" id="detail-link">Location</a></p>

<div id="map2"></div>

</div>

<script type="text/javascript" src="/javascripts/detail-map.js"></script>

<script>
  startMap("map2",  { lat: {{ coordsLat }}, lng: {{ coordsLng }}, }, false);
</script>