xxxx{{coordsLat}}xxxxx

xxxx{{coordsLng}}xxxxx
{{!-- {{task}} --}}

<a href="/tasks/location">Update</a>

<h3>Task map</h3>

<input type="text" id="lat" value="">
<input type="text" id="lng" value="">

<div id="map"></div>


<script type="text/javascript" src="/javascripts/detail-map.js"></script>

<script>
  axios({
  method: "GET",
  url: "location",
  {{!-- params: "URL parameters to be sent with the request" --}}
})
  .then(response => {
    startMap("map",  { lat: {{ coordsLat }}, lng: {{ coordsLng }} }, true);
  })
  .catch(err => {
    console.log('err');
  });
</script>
