xxxx{{coordsLat}}xxxxx

xxxx{{coordsLng}}xxxxx
{{!-- {{task}} --}}

<a href="/tasks/location">Update</a>
<h3>My First Map</h3>
<div id="map"></div>

{{!-- <input type="hidden" name="long" value="{{coordinates[0]}}">
<input type="hidden" name="lat" value="{{coordinates[1]}}">  --}}

<script>

  window.mapCoordinates = { lat: {{coordsLat}}, lng: {{coordsLng}}  }
</script>

<script type="text/javascript" src="/javascripts/task-map.js"></script>
