{{!-- xxxx{{coordsLat}}xxxxx
xxxx{{coordsLng}}xxxxx
xxxxx{{locationId}}xxxxx
xxxxx{{task}}xxxxx --}}

{{!-- <a href="/tasks/location">Update</a> --}}

<input type="hidden" id="taskId" value="{{task}}">
<input type="hidden" id="locationId" value="{{locationId}}">

<div id="over-the-map">
  <div>
    <input type="text" id="lat" value="{{coordsLat}}" class="map-input">
    <input type="text" id="lng" value="{{coordsLng}}" class="map-input">
  </div>
  <button id="updateButton">Update location</button>
</div>

<div id="map"></div>


<script type="text/javascript" src="/javascripts/detail-map.js"></script>

<script>
  axios({
    method: "GET",
    url: "location",
  {{!-- params: "URL parameters to be sent with the request" --}}
})
    .then(response => {
      startMap("map", { lat: {{ coordsLat }}, lng: {{ coordsLng }} }, true);
  })
  .catch (err => {
    console.log('err');
  });
</script>

<script src="/javascripts/location-update.js"></script>