

<p>{{this.description}}</p>
<form action="/planner/create/job" method="post">
  <div class="text-wrapper">
    <label for="description">Job name: </label>
    <input type="text" name="description" value="{{this.description}}" placeholder="name">
    <label for="start-date">Start date: </label>
    <input type="date" name="start-date" value="{{this.start_date}}">
    <label for="end-date">End date: </label>
    <input type="date" name="end-date" value="{{this.end_date}}">
    <div class="task-container">
      {{#each this.tasks}}
      <h3>{{name}}</h3><a href="/planner/update/task/?idx={{arrPoss}}">Update task</a><a href="/planner/delete/task?idx={{arrPoss}}">Delete task</a>
      {{/each}}
    </div>
    <a href="/planner/create/task">Add task</a>
  </div>
  <div class="map-wrapper">
    <h1>Imagine a map here</h1>
  </div>
  <a href="/"><button>Cancel</button></a>
  <input type="submit" value="Create Job">

</form>