<aside class="task-create">
  <form action="/planner/create/task" method="post">
    <div class="text-wrapper task">
      <label for="task-name">Task name: </label>
      <input type="text" id="task-name" name="name" placeholder="Name">
      <label for="task-description">Task brief description: </label>
      <textarea id="task-description" name="description" placeholder="Enter a short description ..." cols="40"
        rows="7"></textarea>
      <label for="task-materials">Required material: </label>
      <textarea cols="40" rows="5" id="task-materials" name="materials" placeholder="Materials needed"></textarea>
      <div class="task-low">
        <div>
          <label for="task-duration">Estimated hours: </label>
          <input type="number" id="task-duration" name="duration">
        </div>
        <div>
          <label for="task-operator">Operador asignado: </label>
          <select id="task-operator" name="operator">
            {{#each users}}
            <option value="{{_id}}">{{username}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
    <button class="task-cancel">Cancel</button>
    <input type="submit" value="Create Task">
  </form>
</aside>
<section class="job-create">
  <form action="/planner/update/job" method="post">
    <div class="text-wrapper">
      <div class="field top">
        <label for="job-description">Job name: </label>
        <input id= "job-description" type="text" name="description" value="{{job.description}}" placeholder="name">
      </div>
      <div class="field left">
        <div>
          <label for="job-start-date">Start date:</label>
          <input id="job-start-date" type="date" name="start-date" value="{{dateS}}">
        </div>
        <div>
          <label for="job-end-date">End date:</label>
          <input id="job-end-date" type="date" name="end-date" value="{{dateE}}">
        </div>
      </div>
    </div>
    <ul class="task-container">  
    </ul>
    <a id="new-task" href="">Add task</a>
    <div class="form-buttons">
      <button class="job-cancel">Cancel</button>
      <input type="submit" value="Save Job">
    </div>
  </form>
  <div class="map-wrapper" id="map3">
  </div>
</section>
<script>
  window.jobId = `{{job._id}}`;
  window.job = {};
  window.job.description = `{{job.description}}`
  window.job.start_date = new Date(`{{job.start_date}}`)
  window.job.end_date = `{{job.end_date}}`
</script>
<script type="text/javascript" src="/javascripts/detail-map.js"></script>
<script>
  startMap("map3",  { lat: 40, lng: -3}, true);
</script>
<script src="/javascripts/planner-create.js"></script>